**/node_modules
**/vendor
**/.env
**/test-results
**/test-results-admin
**/playwright-report
backend/public/hot
backend/public/storage
backend/storage/logs/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/app/public/*
.git
.local

backend/public/build
backend/bootstrap/cache/*.php
backend/storage/framework/cache/*
frontend/dist
